body {
    margin: 0;
}
img{
    text-align: center;
    margin: 0 auto;
}

.container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #2BB2A2 0%, rgba(123, 160, 156, 0.00) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    text-align: center;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 33px;
}
form.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

button {
    background: linear-gradient(270deg, #C23B32 0%, rgba(112, 52, 246, 0.50) 99.99%, rgba(80, 52, 192, 0.00) 100%);
    transition: background-color 0.3s;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 19px;
    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}
button:hover {
    background-color: #45a049;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}


@media only screen and (max-device-width: 420px) {
    .container {
        flex-direction: column;
    }
    * {
        font-size: 36px;
    }
    .login-container,
    .logo {
        width: 100%;
    }
    form {
        margin: auto;
    }
    img {
        height: 7em;
        margin: 2em;
    }
}

.no-valid {
    border: 3px solid red;
    border-radius: 1em;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

